@font-face {
  font-family: 'Raleway';
  src: url("../font/Raleway-ExtraLightItalic.woff2") format("woff2"), url("../font/Raleway-ExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: url("../font/Raleway-Regular.woff2") format("woff2"), url("../font/Raleway-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url("../font/Raleway-ThinItalic.woff2") format("woff2"), url("../font/Raleway-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: url("../font/Raleway-ExtraBoldItalic.woff2") format("woff2"), url("../font/Raleway-ExtraBoldItalic.woff") format("woff");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: url("../font/Raleway-BlackItalic.woff2") format("woff2"), url("../font/Raleway-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: url("../font/Raleway-Light.woff2") format("woff2"), url("../font/Raleway-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url("../font/Raleway-SemiBold.woff2") format("woff2"), url("../font/Raleway-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url("../font/Raleway-Bold.woff2") format("woff2"), url("../font/Raleway-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url("../font/Raleway-Medium.woff2") format("woff2"), url("../font/Raleway-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url("../font/Raleway-LightItalic.woff2") format("woff2"), url("../font/Raleway-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: url("../font/Raleway-Black.woff2") format("woff2"), url("../font/Raleway-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url("../font/Raleway-BoldItalic.woff2") format("woff2"), url("../font/Raleway-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: url("../font/Raleway-ExtraLight.woff2") format("woff2"), url("../font/Raleway-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url("../font/Raleway-MediumItalic.woff2") format("woff2"), url("../font/Raleway-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: url("../font/Raleway-Thin.woff2") format("woff2"), url("../font/Raleway-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url("../font/Raleway-ExtraBold.woff2") format("woff2"), url("../font/Raleway-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url("Raleway-Italic.woff2") format("woff2"), url("Raleway-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: url("Raleway-SemiBoldItalic.woff2") format("woff2"), url("Raleway-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
}

/* line 145, /home/pawel/Sit_On_Chair/scss/partials/_all.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 151, /home/pawel/Sit_On_Chair/scss/partials/_all.scss */
* ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 157, /home/pawel/Sit_On_Chair/scss/partials/_all.scss */
html {
  font-size: 10px;
}

/* line 161, /home/pawel/Sit_On_Chair/scss/partials/_all.scss */
body {
  background-color: #0E0E0E;
  font-family: 'Raleway', Arial, Verdana, sans-serifs;
}

/* line 166, /home/pawel/Sit_On_Chair/scss/partials/_all.scss */
.mainHeader, body > section, footer {
  background-color: #f9f9f9;
  width: 1200px;
  margin: 0 auto;
}

/* line 172, /home/pawel/Sit_On_Chair/scss/partials/_all.scss */
.logo {
  text-transform: capitalize;
}

/* line 176, /home/pawel/Sit_On_Chair/scss/partials/_all.scss */
.logo span {
  font-weight: bold;
}

/* line 180, /home/pawel/Sit_On_Chair/scss/partials/_all.scss */
button {
  cursor: pointer;
}

/* line 1, /home/pawel/Sit_On_Chair/scss/partials/_header.scss */
.mainHeader .logo span {
  color: #27c7ab;
}

/* line 5, /home/pawel/Sit_On_Chair/scss/partials/_header.scss */
.mainHeader {
  height: 40px;
  padding: 0px 77px 0px 69px;
  background-color: #000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* line 15, /home/pawel/Sit_On_Chair/scss/partials/_header.scss */
.mainHeader .logo {
  text-transform: uppercase;
  font-size: 1.3rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
  color: #fff;
}

/* line 23, /home/pawel/Sit_On_Chair/scss/partials/_header.scss */
.mainHeader nav {
  width: 50%;
  height: 100%;
}

/* line 27, /home/pawel/Sit_On_Chair/scss/partials/_header.scss */
.mainHeader nav ul {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

/* line 33, /home/pawel/Sit_On_Chair/scss/partials/_header.scss */
.mainHeader nav ul li {
  margin-left: 38px;
  display: flex;
  align-items: center;
}

/* line 38, /home/pawel/Sit_On_Chair/scss/partials/_header.scss */
.mainHeader nav ul li a {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 1.4rem;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  z-index: 10;
}

/* line 47, /home/pawel/Sit_On_Chair/scss/partials/_header.scss */
.mainHeader nav ul li a:hover {
  text-decoration: underline;
}

/* line 54, /home/pawel/Sit_On_Chair/scss/partials/_header.scss */
.mainHeader nav ul .subNav {
  position: relative;
}

/* line 57, /home/pawel/Sit_On_Chair/scss/partials/_header.scss */
.mainHeader nav ul .subNav:hover ul {
  display: block;
}

/* line 61, /home/pawel/Sit_On_Chair/scss/partials/_header.scss */
.mainHeader nav ul .subNav ul {
  display: none;
  height: 100px;
  position: absolute;
  top: 32px;
  right: -30px;
}

/* line 68, /home/pawel/Sit_On_Chair/scss/partials/_header.scss */
.mainHeader nav ul .subNav ul li {
  background-color: #000;
  padding: 10px 8px;
  margin: 0;
}

/* line 74, /home/pawel/Sit_On_Chair/scss/partials/_header.scss */
.mainHeader nav ul .subNav ul::before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  position: relative;
  top: 12px;
  background-color: #000;
  transform: rotate(45deg);
  margin: 0 auto;
}

/* line 1, /home/pawel/Sit_On_Chair/scss/partials/_news.scss */
.news {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f8f8f8+52,cfced3+99 */
  background: white;
  /* Old browsers */
  background: -moz-linear-gradient(top, white 0%, #f8f8f8 52%, #cfced3 99%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, white 0%, #f8f8f8 52%, #cfced3 99%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, white 0%, #f8f8f8 52%, #cfced3 99%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cfced3',GradientType=0 );
  /* IE6-9 */
  min-height: 505px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 28px 63px;
}

/* line 16, /home/pawel/Sit_On_Chair/scss/partials/_news.scss */
.news .picture {
  width: 470px;
  padding: 50px 0;
  overflow: hidden;
}

/* line 21, /home/pawel/Sit_On_Chair/scss/partials/_news.scss */
.news .picture img {
  display: block;
  transform: scale(1.2);
  padding: 0;
  margin: 0 auto;
}

/* line 29, /home/pawel/Sit_On_Chair/scss/partials/_news.scss */
.news .text {
  width: 400px;
  text-align: center;
}

/* line 33, /home/pawel/Sit_On_Chair/scss/partials/_news.scss */
.news .text h2 {
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: normal;
}

/* line 38, /home/pawel/Sit_On_Chair/scss/partials/_news.scss */
.news .text h2 span {
  color: #27c7ab;
  font-weight: bold;
}

/* line 44, /home/pawel/Sit_On_Chair/scss/partials/_news.scss */
.news .text p {
  font-size: 1.4rem;
  line-height: 2rem;
  margin: 33px 0;
}

/* line 50, /home/pawel/Sit_On_Chair/scss/partials/_news.scss */
.news .text button {
  font-family: 'Raleway';
  background-color: #24BA9F;
  border-radius: 10px;
  border: none;
  width: 265px;
  height: 50px;
  color: #fff;
  font-size: 2.2rem;
  text-transform: uppercase;
}

/* line 63, /home/pawel/Sit_On_Chair/scss/partials/_news.scss */
.news .slider li {
  display: none;
}

/* line 66, /home/pawel/Sit_On_Chair/scss/partials/_news.scss */
.news .slider li.visible {
  display: block;
}

/* line 71, /home/pawel/Sit_On_Chair/scss/partials/_news.scss */
.news .leftArrow, .news .rightArrow {
  cursor: pointer;
  height: 100%;
  color: #27c7ab;
  font-size: 8.2em;
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* line 80, /home/pawel/Sit_On_Chair/scss/partials/_news.scss */
.news .leftArrow span, .news .rightArrow span {
  display: block;
  width: 100%;
  font-weight: 100;
  text-align: center;
}

/* line 86, /home/pawel/Sit_On_Chair/scss/partials/_news.scss */
.news .leftArrow span:hover, .news .rightArrow span:hover {
  text-decoration: none;
}

/* line 89, /home/pawel/Sit_On_Chair/scss/partials/_news.scss */
.news .leftArrow span:active, .news .rightArrow span:active {
  text-decoration: none;
}

/* line 1, /home/pawel/Sit_On_Chair/scss/partials/_bestsellers.scss */
.bestsellers {
  font-size: 1.5rem;
  display: flex;
  height: 350px;
  flex-direction: row;
  justify-content: space-around;
  padding: 28px 49px;
}

/* line 9, /home/pawel/Sit_On_Chair/scss/partials/_bestsellers.scss */
.bestsellers .uppercase {
  text-transform: uppercase;
}

/* line 13, /home/pawel/Sit_On_Chair/scss/partials/_bestsellers.scss */
.bestsellers .underline {
  display: inline-block;
  width: 140px;
  border-bottom: 8px solid #24C7AA;
}

/* line 19, /home/pawel/Sit_On_Chair/scss/partials/_bestsellers.scss */
.bestsellers figure {
  width: 330px;
  position: relative;
}

/* line 22, /home/pawel/Sit_On_Chair/scss/partials/_bestsellers.scss */
.bestsellers figure figcaption {
  padding: 15px 10px;
  height: 60px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  position: absolute;
  top: 147px;
}

/* line 32, /home/pawel/Sit_On_Chair/scss/partials/_bestsellers.scss */
.bestsellers div.comment {
  width: 330px;
  height: 250px;
  padding: 25px 18px;
  border: 1px solid #CFCED3;
}

/* line 38, /home/pawel/Sit_On_Chair/scss/partials/_bestsellers.scss */
.bestsellers div.comment h2 {
  font-size: 1.5rem;
  margin-bottom: 16px;
}

/* line 1, /home/pawel/Sit_On_Chair/scss/partials/_prices.scss */
.prices {
  padding: 38px 67px 63px 67px;
  background-color: #F1F1F1;
}

/* line 6, /home/pawel/Sit_On_Chair/scss/partials/_prices.scss */
.prices h2 {
  margin-bottom: 80px;
  padding: 5px 0;
  font-size: 2.2rem;
  font-weight: normal;
  text-transform: uppercase;
  width: 320px;
  border-bottom: 8px solid #24C7AA;
}

/* line 15, /home/pawel/Sit_On_Chair/scss/partials/_prices.scss */
.prices .offers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* line 20, /home/pawel/Sit_On_Chair/scss/partials/_prices.scss */
.prices .offers div.offer {
  width: 330px;
  height: 500px;
  padding: 0px 0 10px 0;
  border: 2px solid #C2C2C2;
  background-color: #F9F9F9;
  text-align: center;
  color: #C2C2C2;
  position: relative;
}

/* line 30, /home/pawel/Sit_On_Chair/scss/partials/_prices.scss */
.prices .offers div.offer .outerCircle {
  display: block;
  width: 56px;
  height: 56px;
  margin: 0 auto;
  margin-top: -43px;
  border-radius: 50px;
  border: 2px solid #C2C2C2;
  background-color: #F9F9F9;
}

/* line 41, /home/pawel/Sit_On_Chair/scss/partials/_prices.scss */
.prices .offers div.offer .innerCircle {
  display: block;
  width: 26px;
  height: 26px;
  margin: 0 auto;
  margin-top: -41px;
  border-radius: 25px;
  border: none;
  background-color: #C2C2C2;
}

/* line 52, /home/pawel/Sit_On_Chair/scss/partials/_prices.scss */
.prices .offers div.offer h3 {
  font-size: 2.2rem;
  font-weight: normal;
  text-transform: uppercase;
  color: #24C7AA;
  margin: 25px auto 25px auto;
}

/* line 61, /home/pawel/Sit_On_Chair/scss/partials/_prices.scss */
.prices .offers div.offer .cost {
  border: 2px solid #C2C2C2;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

/* line 72, /home/pawel/Sit_On_Chair/scss/partials/_prices.scss */
.prices .offers div.offer .cost p {
  font-weight: bold;
  text-transform: uppercase;
}

/* line 76, /home/pawel/Sit_On_Chair/scss/partials/_prices.scss */
.prices .offers div.offer .cost p.number {
  font-size: 4.5rem;
}

/* line 79, /home/pawel/Sit_On_Chair/scss/partials/_prices.scss */
.prices .offers div.offer .cost p.number sup {
  font-size: 2rem;
  position: relative;
  bottom: 5px;
}

/* line 86, /home/pawel/Sit_On_Chair/scss/partials/_prices.scss */
.prices .offers div.offer .cost p.currency {
  font-size: 1.5rem;
}

/* line 93, /home/pawel/Sit_On_Chair/scss/partials/_prices.scss */
.prices .offers div.offer ul {
  margin-top: 35px;
}

/* line 96, /home/pawel/Sit_On_Chair/scss/partials/_prices.scss */
.prices .offers div.offer ul li {
  font-size: 2.4rem;
  padding: 7px 0;
  color: #9B9B9B;
}

/* line 101, /home/pawel/Sit_On_Chair/scss/partials/_prices.scss */
.prices .offers div.offer ul li:nth-child(2n+1) {
  background-color: #E4E4E4;
}

/* line 105, /home/pawel/Sit_On_Chair/scss/partials/_prices.scss */
.prices .offers div.offer ul li:nth-child(2n) {
  background-color: #F1F1F1;
}

/* line 112, /home/pawel/Sit_On_Chair/scss/partials/_prices.scss */
.prices .offers div.offer button {
  width: 122px;
  height: 35px;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 100;
  text-transform: uppercase;
  border: none;
  border-radius: 7px;
  background-color: #24C7AA;
  position: absolute;
  bottom: 23px;
  left: 100px;
}

/* line 127, /home/pawel/Sit_On_Chair/scss/partials/_prices.scss */
.prices .offers div.offer:hover {
  background-color: #24C7AA;
  border-color: #24C7AA;
}

/* line 131, /home/pawel/Sit_On_Chair/scss/partials/_prices.scss */
.prices .offers div.offer:hover .outerCircle {
  background-color: #24C7AA;
  border-color: #24C7AA;
}

/* line 135, /home/pawel/Sit_On_Chair/scss/partials/_prices.scss */
.prices .offers div.offer:hover .innerCircle {
  background-color: #fff;
}

/* line 138, /home/pawel/Sit_On_Chair/scss/partials/_prices.scss */
.prices .offers div.offer:hover h3 {
  color: #fff;
}

/* line 141, /home/pawel/Sit_On_Chair/scss/partials/_prices.scss */
.prices .offers div.offer:hover .cost {
  border-color: #24C7AA;
  color: #24C7AA;
  background-color: #fff;
}

/* line 147, /home/pawel/Sit_On_Chair/scss/partials/_prices.scss */
.prices .offers div.offer:hover ul li:nth-child(2n+1) {
  background-color: #FFFFFF;
}

/* line 151, /home/pawel/Sit_On_Chair/scss/partials/_prices.scss */
.prices .offers div.offer:hover button {
  color: #24C7AA;
  background-color: #fff;
}

/* line 1, /home/pawel/Sit_On_Chair/scss/partials/_application.scss */
.application {
  min-height: 200px;
  background-color: #f9f9f9;
  padding: 38px 67px 63px 67px;
}

/* line 6, /home/pawel/Sit_On_Chair/scss/partials/_application.scss */
.application .main_width {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* line 10, /home/pawel/Sit_On_Chair/scss/partials/_application.scss */
.application .main_width h2 {
  color: #575757;
  font-size: 2.2rem;
  font-weight: normal;
  width: 322px;
  padding: 5px 0;
  border-bottom: 8px solid #24C7AA;
}

/* line 19, /home/pawel/Sit_On_Chair/scss/partials/_application.scss */
.application .main_width header {
  background-color: transparent;
}

/* line 23, /home/pawel/Sit_On_Chair/scss/partials/_application.scss */
.application .main_width header.align_right {
  text-align: right;
}

/* line 27, /home/pawel/Sit_On_Chair/scss/partials/_application.scss */
.application .main_width .inline {
  box-sizing: initial;
  display: inline-block;
  width: 322px;
  padding: 0;
  vertical-align: top;
}

/* line 36, /home/pawel/Sit_On_Chair/scss/partials/_application.scss */
.application .main_width .form {
  margin-top: 50px;
}

/* line 39, /home/pawel/Sit_On_Chair/scss/partials/_application.scss */
.application .main_width .drop_down_list {
  box-sizing: initial;
  border: 1px solid #8de0d2;
  width: 280px;
  height: 38px;
  background-color: white;
  margin-top: 22px;
  padding: 8px 12px;
  position: relative;
}

/* line 51, /home/pawel/Sit_On_Chair/scss/partials/_application.scss */
.application .main_width .list_label {
  font-size: 30px;
  color: #e2e2e2;
  font-family: 'ralewaylight', Arial, Tahoma, sans-serif;
}

/* line 57, /home/pawel/Sit_On_Chair/scss/partials/_application.scss */
.application .main_width .checkbox {
  position: relative;
  padding: 30px 30px 30px 0;
}

/* line 61, /home/pawel/Sit_On_Chair/scss/partials/_application.scss */
.application .main_width .checkbox input {
  display: block;
  opacity: 0;
  height: 48px;
  position: absolute;
  width: 48px;
  cursor: pointer;
}

/* line 70, /home/pawel/Sit_On_Chair/scss/partials/_application.scss */
.application .main_width .checkbox label {
  display: block;
  padding-left: 65px;
  position: relative;
  font-size: 28px;
  color: #cecece;
  line-height: 120%;
  padding-top: 10px;
  cursor: pointer;
}

/* line 81, /home/pawel/Sit_On_Chair/scss/partials/_application.scss */
.application .main_width .checkbox label::before, .application .main_width .checkbox label::after {
  border: 1px solid #00C8A9;
  content: "";
  display: block;
  left: 0;
  height: 48px;
  position: absolute;
  width: 48px;
  top: 0;
}

/* line 91, /home/pawel/Sit_On_Chair/scss/partials/_application.scss */
.application .main_width .checkbox label::after {
  background: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20preserveAspectRatio%3D%22xMidYMid%22%20width%3D%2233.875%22%20height%3D%2233%22%20viewBox%3D%220%200%2033.875%2033%22%3E%0A%20%20%3Cpath%20d%3D%22M9.470%2C15.209%20L14.061%2C24.104%20C14.061%2C24.104%2021.522%2C6.026%2033.287%2C-0.000%20C33.000%2C4.304%2031.852%2C8.035%2033.861%2C12.626%20C28.696%2C13.774%2018.078%2C26.687%2014.635%2C33.000%20C9.756%2C26.974%204.017%2C22.382%20-0.000%2C20.948%20L9.470%2C15.209%20Z%22%20fill%3D%22%2327c7ab%22/%3E%0A%3C/svg%3E%0A") no-repeat center;
  border: 0;
  display: none;
}

/* line 97, /home/pawel/Sit_On_Chair/scss/partials/_application.scss */
.application .main_width .checkbox input:checked + label::after {
  display: block;
}

/* line 108, /home/pawel/Sit_On_Chair/scss/partials/_application.scss */
.application .main_width .inline_text {
  display: inline-block;
  width: 228px;
  vertical-align: top;
  margin-top: 30px;
  margin-left: 15px;
  color: #aeaeae;
}

/* line 116, /home/pawel/Sit_On_Chair/scss/partials/_application.scss */
.application .main_width .image_part img {
  margin-top: 110px;
  margin-left: 38px;
}

/* line 121, /home/pawel/Sit_On_Chair/scss/partials/_application.scss */
.application .main_width .green_bell {
  background-color: #00C8A9;
  width: 200px;
  height: 6px;
  display: inline-block;
  margin: 5px 0 5px 0;
}

/* line 129, /home/pawel/Sit_On_Chair/scss/partials/_application.scss */
.application .main_width .summary_panel {
  box-sizing: initial;
  background-color: white;
  width: 100%;
  height: 195px;
  padding: 10px;
  margin-top: 50px;
}

/* line 140, /home/pawel/Sit_On_Chair/scss/partials/_application.scss */
.application .main_width .green_button {
  background-color: #00C8A9;
  color: white;
  text-align: center;
  text-transform: uppercase;
  width: 200px;
  padding: 10px 30px;
  font-size: 24px;
  display: inline-block;
  font-family: 'ralewaymedium', Arial, Tahoma, sans-serif;
  margin-top: 20px;
  margin-left: 29px;
  border-radius: 8px;
  text-decoration: none;
}

/* line 155, /home/pawel/Sit_On_Chair/scss/partials/_application.scss */
.application .main_width .panel_left {
  display: inline-block;
  width: 185px;
  vertical-align: top;
  padding-bottom: 10px;
  border-bottom: 1px solid #e7e7e7;
  height: 135px;
}

/* line 164, /home/pawel/Sit_On_Chair/scss/partials/_application.scss */
.application .main_width .panel_right {
  display: inline-block;
  width: 100px;
  border-left: 1px solid #e7e7e7;
  text-align: right;
  vertical-align: top;
  padding-bottom: 10px;
  border-bottom: 1px solid #e7e7e7;
  height: 135px;
}

/* line 175, /home/pawel/Sit_On_Chair/scss/partials/_application.scss */
.application .main_width .panel_left h4, .application .main_width .panel_right h4 {
  color: #24baa0;
  font-size: 23px;
}

/* line 180, /home/pawel/Sit_On_Chair/scss/partials/_application.scss */
.application .main_width .panel_left span {
  margin-top: 10px;
  font-size: 22px;
  color: #5b5a5a;
  display: block;
}

/* line 187, /home/pawel/Sit_On_Chair/scss/partials/_application.scss */
.application .main_width .panel_right span {
  display: block;
  font-size: 22px;
  color: #24baa0;
  margin-top: 10px;
}

/* line 193, /home/pawel/Sit_On_Chair/scss/partials/_application.scss */
.application .main_width .sum_label {
  display: inline-block;
  width: 185px;
  margin-top: 10px;
  font-size: 22px;
  color: #5b5a5a;
}

/* line 201, /home/pawel/Sit_On_Chair/scss/partials/_application.scss */
.application .main_width .sum {
  display: inline-block;
  width: 100px;
  text-align: right;
  margin-top: 10px;
  font-size: 22px;
  color: #24baa0;
}

/* line 210, /home/pawel/Sit_On_Chair/scss/partials/_application.scss */
.application .main_width .list_arrow {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #24baa0;
  display: block;
  position: absolute;
  right: 14px;
  top: 20px;
  cursor: pointer;
}

/* line 223, /home/pawel/Sit_On_Chair/scss/partials/_application.scss */
.application .main_width .list_panel {
  font-size: 1.6rem;
  background-color: white;
  border: 1px solid #ccc;
  width: 288px;
  padding-left: 15px;
  padding-bottom: 10px;
  list-style: none;
  margin: 0;
  left: 0px;
  z-index: 2;
  position: absolute;
  top: 54px;
  display: none;
}

/* line 239, /home/pawel/Sit_On_Chair/scss/partials/_application.scss */
.application .main_width .visible {
  display: block;
}

/* line 243, /home/pawel/Sit_On_Chair/scss/partials/_application.scss */
.application .main_width .list_panel li {
  margin-top: 10px;
  cursor: pointer;
  color: #585858;
}

/* line 249, /home/pawel/Sit_On_Chair/scss/partials/_application.scss */
.application .main_width .list_panel li:hover {
  text-decoration: underline;
}

/* line 253, /home/pawel/Sit_On_Chair/scss/partials/_application.scss */
.application .main_width .title {
  height: 30px;
}

/* line 16, /home/pawel/Sit_On_Chair/scss/partials/_contact.scss */
.contact {
  padding: 28px 67px;
  background-color: #F1F1F1;
  background-image: url(../images/red_chair.png);
  background-repeat: no-repeat;
  background-position: 807px 87px;
}

/* line 23, /home/pawel/Sit_On_Chair/scss/partials/_contact.scss */
.contact h2 {
  margin-bottom: 43px;
  padding: 5px 0;
  font-size: 2.2rem;
  font-weight: normal;
  text-transform: uppercase;
  width: 320px;
  border-bottom: 8px solid #24C7AA;
}

/* line 33, /home/pawel/Sit_On_Chair/scss/partials/_contact.scss */
.contact form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* line 38, /home/pawel/Sit_On_Chair/scss/partials/_contact.scss */
.contact form .fillIn {
  width: 630px;
  display: flex;
  flex-direction: column;
}

/* line 43, /home/pawel/Sit_On_Chair/scss/partials/_contact.scss */
.contact form .fillIn input, .contact form .fillIn textarea {
  font-family: 'Raleway';
  border: 1px solid #24C7AA;
  margin-bottom: 26px;
  padding: 14px 22px;
  font-size: 3.2rem;
  font-weight: 100;
}

/* line 2, /home/pawel/Sit_On_Chair/scss/partials/_contact.scss */
.contact form .fillIn input::-webkit-input-placeholder, .contact form .fillIn textarea::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-size: 3.2rem;
  font-weight: normal;
  color: #D6D6D6;
}

/* line 5, /home/pawel/Sit_On_Chair/scss/partials/_contact.scss */
.contact form .fillIn input::-moz-placeholder, .contact form .fillIn textarea::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 3.2rem;
  font-weight: normal;
  color: #D6D6D6;
}

/* line 8, /home/pawel/Sit_On_Chair/scss/partials/_contact.scss */
.contact form .fillIn input:-ms-input-placeholder, .contact form .fillIn textarea:-ms-input-placeholder {
  /* IE 10+ */
  font-size: 3.2rem;
  font-weight: normal;
  color: #D6D6D6;
}

/* line 11, /home/pawel/Sit_On_Chair/scss/partials/_contact.scss */
.contact form .fillIn input:-moz-placeholder, .contact form .fillIn textarea:-moz-placeholder {
  /* Firefox 18- */
  font-size: 3.2rem;
  font-weight: normal;
  color: #D6D6D6;
}

/* line 57, /home/pawel/Sit_On_Chair/scss/partials/_contact.scss */
.contact form .fillIn input {
  height: 66px;
}

/* line 61, /home/pawel/Sit_On_Chair/scss/partials/_contact.scss */
.contact form .fillIn textarea {
  resize: none;
  height: 188px;
}

/* line 67, /home/pawel/Sit_On_Chair/scss/partials/_contact.scss */
.contact form .confirm {
  margin-left: 0;
  margin-bottom: 26px;
  width: 346px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

/* line 77, /home/pawel/Sit_On_Chair/scss/partials/_contact.scss */
.contact form .confirm input[type="checkbox"] {
  display: none;
}

/* line 81, /home/pawel/Sit_On_Chair/scss/partials/_contact.scss */
.contact form .confirm input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 63px;
  color: #C2C2C2;
  font-size: 2rem;
  font-weight: normal;
  line-height: 2.3rem;
}

/* line 91, /home/pawel/Sit_On_Chair/scss/partials/_contact.scss */
.contact form .confirm input[type="checkbox"] + label span {
  display: block;
  position: absolute;
  top: -6px;
  left: 2px;
  width: 48px;
  height: 49px;
  border: 1px solid #24C7AA;
  background-color: #fff;
  cursor: pointer;
}

/* line 103, /home/pawel/Sit_On_Chair/scss/partials/_contact.scss */
.contact form .confirm input[type="checkbox"]:checked + label span {
  background: url(../images/form_ok.jpg) no-repeat;
  background-position: 0 10px;
  background-size: 90%;
  background-color: #fff;
}

/* line 111, /home/pawel/Sit_On_Chair/scss/partials/_contact.scss */
.contact form input[type="button"] {
  font-family: 'Raleway';
  margin-top: 37px;
  border: none;
  border-radius: 10px;
  width: 344px;
  height: 70px;
  background-color: #24C7AA;
  color: #fff;
  font-size: 3.4rem;
  text-transform: uppercase;
  cursor: pointer;
}

/* line 1, /home/pawel/Sit_On_Chair/scss/partials/_footer.scss */
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding: 38px 67px 52px 67px;
  font-size: 1.8rem;
  color: #9C9C9C;
}

/* line 10, /home/pawel/Sit_On_Chair/scss/partials/_footer.scss */
footer ul {
  display: flex;
  flex-direction: row;
  padding: 0 0 0 270px;
  width: 500px;
}

/* line 16, /home/pawel/Sit_On_Chair/scss/partials/_footer.scss */
footer ul li {
  width: 35px;
  height: 35px;
  margin-left: 4px;
}

/* line 21, /home/pawel/Sit_On_Chair/scss/partials/_footer.scss */
footer ul li a {
  display: inline-block;
  width: 100%;
  height: 100%;
}

/* line 26, /home/pawel/Sit_On_Chair/scss/partials/_footer.scss */
footer ul li a span {
  visibility: hidden;
}

/* line 31, /home/pawel/Sit_On_Chair/scss/partials/_footer.scss */
footer ul li#flickr {
  background: url(../images/flickr.png) no-repeat;
  background-position: center;
}

/* line 35, /home/pawel/Sit_On_Chair/scss/partials/_footer.scss */
footer ul li#vimeo {
  background: url(../images/vimeo.png) no-repeat;
  background-position: center;
}

/* line 39, /home/pawel/Sit_On_Chair/scss/partials/_footer.scss */
footer ul li#pinterest {
  background: url(../images/pinterest.png) no-repeat;
  background-position: center;
}

/* line 43, /home/pawel/Sit_On_Chair/scss/partials/_footer.scss */
footer ul li#twitter {
  background: url(../images/twitter.png) no-repeat;
  background-position: center;
}

/* line 51, /home/pawel/Sit_On_Chair/scss/partials/_footer.scss */
footer .logo {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: normal;
}

/* line 56, /home/pawel/Sit_On_Chair/scss/partials/_footer.scss */
footer .logo span {
  font-weight: bold;
}

/*# sourceMappingURL=../css/main.map */