* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

html {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.clearFix::after {
    content: "";
    visibility: hidden;
    display: block;
    clear: both;
}

.center {
    width: 1200px;
    margin: 0 auto;
    /* border: 1px solid red; */
}

body {
    font-size: 62.5%;
}

.logo {
    text-transform: capitalize;
}

.logo span {
    font-weight: bold;
}

body > header {
    line-height: 32px;
    background-color: #000;
    color: #fff;
}

body > header .logo {
    float: left;
    margin-left: 70px;
    padding: 5px 0;
    font-size: 1.4em;
    font-weight: 100;
    text-transform: uppercase;
}

body > header .logo span {
    color: rgb(39, 199, 171);
}

body > header nav {
    float: right;
    margin-right: 70px;
    text-transform: uppercase;
    font-size: 1.4em;
    font-weight: 600;
}

body > header nav li {
    float: left;
    padding: 5px 0 5px 0px;
    margin-left: 50px;
}

body > header nav li a {
    text-decoration: none;
    color: #fff;
}

body > header nav li a:hover {
    text-decoration: underline;
}

body > header nav .submenu {
    position: relative;
}

body > header nav .submenu ul {
    visibility: hidden;
    margin: 0px;
    padding: 0;
    position: absolute;
    top: 40px;
    left: -50%;
    z-index: 100;
    text-transform: initial;
    font-weight: 300;
}

body > header nav .submenu ul li {
    width: 100%;
}

body > header nav .submenu ul li a {
    display: inline-block;
    background-color: #000;
    width: 100%;
    height: 100%;
    padding: 5px 20px;
}

body > header nav .submenu .arrow {
    /* border: 1px solid red; */
    height: 14px;
    padding-bottom: 0;
    margin: 0;
    position: relative;
}

body > header nav .submenu .arrow span {
    display: inline-block;
    height: 1px;
    width: 1px;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -14px;
    border-top: 14px solid white transparent;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-bottom: 14px solid black;
}

/* 
body > header nav .submenu ul span {
    display: block;
    width: 1px;
    height: 1px;
    border-top: 14px solid white transparent;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-bottom: 14px solid black;
    margin-left: -14px;
    position: absolute;
    top: -10px;
    left: 50%;
} */

body > header nav .submenu:hover ul {
    visibility: visible;
}

body > header nav .submenu ul li {
    margin: 0;
    padding: 0;
}

.commercial {
    min-height: 200px; 
}

.commercial article {
    padding-top: 50px;
    padding-right: 75px;
}

.commercial article header h2 {
    text-transform: uppercase;
    font-size: 3.2em;
    font-weight: 600;
}

.commercial article header span {
    color: rgb(39, 199, 171);
    font-weight: 700;
}


.commercialElement {
    float: left;
    width: 50%;
}





.prices header {
    margin-bottom: 80px;
}

.prices article {
    width: 330px;
    height: 500px;
    padding: 0px 5px 10px 5px;
    border: 2px solid #C2C2C2;
    background-color: #F9F9F9;
    text-align: center;

    float: left;
    position: relative;
}

.prices article:nth-child(3) {
    margin: 0 29px 0 29px;
}

.prices article .outerCircle {
    display: block;
    width: 56px;
    height: 56px;
    margin: 0 auto;
    margin-top: -43px;
    border-radius: 50px;
    border: 2px solid #C2C2C2;
    background-color: #F9F9F9;
    
    

}

.prices article .innerCircle {
    display: block;
    width: 26px;
    height: 26px;
    margin: 0 auto;
    margin-top: -41px;
    border-radius: 25px;
    border: none;
    background-color: #C2C2C2;
    
}

/* .price article:hover {
    background-color: #27C7AB; 
} */

.prices article header {
    text-transform: uppercase; 
    margin-top: 25px;
    
}

.prices .price {
    border: 2px solid #C2C2C2;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    text-align: center;
    margin: 0 auto;
    padding-top: 10px;

}