@mixin placeholderStyle {
  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    @content;
  }
  &::-moz-placeholder { /* Firefox 19+ */
    @content;
  }
  &:-ms-input-placeholder { /* IE 10+ */
    @content;
  }
  &:-moz-placeholder { /* Firefox 18- */
    @content;
  }
}

.contact {
  padding: 28px 67px;
  background-color: #F1F1F1;
  background-image: url(../images/red_chair.png);
  background-repeat: no-repeat;
  background-position: 807px 87px;
  
  h2 {
    margin-bottom: 43px;
    padding: 5px 0;
    font-size: 2.2rem;
    font-weight: normal;
    text-transform: uppercase;
    width: 320px;
    border-bottom: 8px solid #24C7AA;
  }

  form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .fillIn {
      width: 630px;
      display: flex;
      flex-direction: column;

      input, textarea {
        font-family: 'Raleway';
        border: 1px solid #24C7AA;
        margin-bottom: 26px;
        padding: 14px 22px ;
        font-size: 3.2rem;
        font-weight: 100;
        @include placeholderStyle() {
          font-size: 3.2rem;
          font-weight: normal;
          color: #D6D6D6;
        }
      }

      input {
        height: 66px;        
      }

      textarea {
        resize: none;
        height: 188px;
      }
    }

    .confirm {
      margin-left: 0;
      margin-bottom: 26px;
      width: 346px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;

      
      input[type="checkbox"] {
        display:none;
      }
      
      input[type="checkbox"] + label {
        display: block;
        position: relative;
        padding-left: 63px;
        color: #C2C2C2;
        font-size: 2rem;
        font-weight: normal;
        line-height: 2.3rem;
      }

      input[type="checkbox"] + label span {
        display: block;
        position: absolute;
        top: -6px;
        left: 2px;
        width: 48px;
        height: 49px;
        border: 1px solid #24C7AA;
        background-color: #fff;
        cursor:pointer;
      }

      input[type="checkbox"]:checked + label span {
        background: url(../images/form_ok.jpg) no-repeat;
        background-position: 0 10px;
        background-size: 90%;
        background-color: #fff;
      }
    }
      
    input[type="button"] {
      font-family: 'Raleway';
      margin-top: 37px;
      border: none;
      border-radius: 10px;
      width: 344px;
      height: 70px;
      background-color: #24C7AA;
      color: #fff;
      font-size: 3.4rem;
      text-transform: uppercase;
      cursor: pointer;
    }
    
  }

}