.news {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f8f8f8+52,cfced3+99 */
  background: rgb(255,255,255); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(248,248,248,1) 52%, rgba(207,206,211,1) 99%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(248,248,248,1) 52%,rgba(207,206,211,1) 99%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(248,248,248,1) 52%,rgba(207,206,211,1) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cfced3',GradientType=0 ); /* IE6-9 */
  
  min-height: 505px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 28px 63px;

  .picture {
    width: 470px;
    padding: 50px 0;
    overflow: hidden;

    img {
      display: block;
      transform: scale(1.2);
      padding: 0;
      margin: 0 auto;  
    }
  }
  
  .text {
    width: 400px;
    text-align: center;

    h2 {
      text-transform: uppercase;
      font-size: 4rem;
      font-weight: normal;

      span {
        color: rgb(39, 199, 171);
        font-weight: 700;
      }
    }

    p {
      font-size: 1.2rem;
      line-height: 2rem;
      margin: 33px 0;
    }

    button {
      background-color: #24BA9F;
      border-radius: 10px;
      border: none;
      width: 265px;
      height: 50px;
      color: #fff;
      font-size: 2.2rem;
      text-transform: uppercase;
    }
  }

  .slider li {
    display: none;
    
    &.visible {
      display: block;
    }
  }

  .leftArrow, .rightArrow  {
    cursor: pointer;
    height: 100%;
    // width: 150px;
    color: rgb(39, 199, 171);
    font-size: 8.2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    span {
      display: block;
      width: 100%;
      font-weight: 100;
      text-align: center;

      &:hover {
        text-decoration: none;
      }
      &:active {
        text-decoration: none;
      }
    }
  }
}

